
{% extends "base.html" %}
{% block content %}

<style>
  .signup-container {
    max-width: 600px;
    margin: 70px auto;
    background: #fff;
    padding: 50px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  }

  .signup-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #333;

  }

  .signup-container form p {
    margin-bottom: 50px;
  }

  .signup-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    outline: none;
    border-radius: 6px;
    font-size: 15px;
  }

  .signup-container input:focus {
    border-color: #2a8bf2;
  }

  .signup-btn {
    width: 100%;
    padding: 12px;
    background: #0E7C7B;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .signup-btn:hover {
    background: #0E7C7B;
  }

  .login-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #F2994A;
  }

  .login-link:hover {
    text-decoration: underline;
  }
</style>

<div class="signup-container">
  <h1>Create Account</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="signup-btn">Sign Up</button>
  </form>

  <a class="login-link" href="{% url 'login' %}">
    Already have an account? Login
  </a>
</div>

{% endblock %}

